$Light-Grayish-Cyan-Background: hsl(180, 52%, 96%);
$Light-Grayish-Cyan-Table: hsl(180, 31%, 95%);
$Dark-Grayish-Cyan: hsl(180, 8%, 52%);
$Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
$Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
$Very-Dark-Grayish-Cyan-semiTransparent: hsl(180, 14%, 20%, 0.5);
